.main {

    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 6px;
    font-size: 1.11em;
    justify-content: center;
    padding: 12px;
    cursor: default;


    @media screen and (max-width: 760px) {

        grid-template-columns: 80px 80px 80px;
    
        
    }
    

}

app-square {

    

    @media screen and (max-width: 760px) {

       font-size: 12px;
    
        
    }
    
}

.newGameButton {

    background-color: #35012C;
    color: #fff;
}

.newGameButton:hover {

    color: bisque;
    background-color: black;
}